
.message-text {
    background-color: rgba(126, 203, 210, 0.28);
    border-radius: 0 5px 5px;
    word-wrap: break-word;
    white-space: pre-line;
    width: 80%;
    padding: 0 10px;
}

.message-sender {
    margin: 0;
}

.messages-container {
    height: 300px;
    overflow-y: scroll;
    background-color: rgba(232, 247, 243, 0.63);
    padding: 20px;
} 

.message-sender span {
    font-size: 0.8em
}

.message-control {
    padding: 0 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px rgba(197, 193, 193, 0.85);
}

.btn-send {
    float: right;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    /*padding-top: 80px;*/
    /*margin-bottom: 60px;*/
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    /*background-color: #f5f5f5;*/
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
