<!DOCTYPE html>
<html ng-app="my_chat">
<head>
    <title>My Chat</title>

    <base href="/"/>

    {% include 'stylesheets.html' %}
</head>

<body>
{% include 'navbar.html' %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 ng-view">
        </div>
    </div>
</div>

{% include 'javascripts.html' %}
</body>


</html>
