
{% load swampdragon_tags %}
{% load staticfiles %}
{% swampdragon_settings %}

<!-- LIBS -->
<script type="text/javascript" src="{% static 'lib/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/arrive.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/material.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/ripples.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/underscore-min.js' %}"></script>

<script type="text/javascript" src="{% static 'lib/js/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/angular-route.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/angular-cookies.min.js' %}"></script>

<script type="text/javascript" src="{% static 'lib/js/snackbar.min.js' %}"></script>

<script type="text/javascript" src="{% static 'swampdragon/js/dist/swampdragon.js' %}"></script>
<script type="text/javascript" src="{% static 'swampdragon/js/angular/services.js' %}"></script>

<!-- Application -->
<script type="text/javascript" src="{% static 'javascripts/my_chat.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/my_chat.config.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/my_chat.routes.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/login.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/utils/utils.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/utils/services/snackbar.service.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/index.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/navbar.controller.js' %}"></script>


