
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrap.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'lib/css/ripples.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'lib/css/material-fullpalette.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'lib/css/snackbar.min.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/styles.css' %}" />

<link href='http://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400' rel='stylesheet' type='text/css'>

