
<div >
	<div class="col-md-6 col-md-offset-3">
		<div class="well chat">
	        <form method="post" class="form-horizontal message-control" ng-submit="vm.sendMessage()" ng-show="(vm.user != undefined)">
	        	<fieldset>
		            <div class="form-group">
		            	<div class="col-md-12">
		            		<input type="text" class="form-control floating-label" id="focusedInput" type="text" placeholder="Nickname" ng-model="vm.nickname" autofocus="true">
		            	</div>
		            </div>

		            <div class="form-group">
		            	<div class="col-md-12">
	  						<textarea class="form-control floating-label" placeholder="message" rows="3" ng-model="vm.message" data-hint="You should really write something here"></textarea>
	  					</div>
					</div>

		            <div class="form-group">
		            	<div class="col-md-12">
		                	<button type="submit" class="btn btn-primary btn-send">Send</button>
		                </div>
		            </div>

		            <div>
		                <span id="error-name"></span>
		            </div>
		            <div>
		                <span id="error-message"></span>
		            </div>
	            </fieldset>
	        </form>
			<h3 style="text-align: center;">Global chat</h3>
	        <div class="messages-container"> 

	        	<div class="message" ng-repeat="item in vm.messages">
	        		<strong class="message-sender" > {{ item.name}}  <span>(at {{item.created_at|date: 'short'}})</span></strong>
	        		<p class="message-text">{{ item.message }}</p>
	        	</div>
		        
		    </div>

	    </div>
		

	</div>
</div>

